
<div class="container">
	<div class="row text-center">
		<h2>Error: {{codes.data[0].question}}</h2>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.correctCode"></i></code></pre>
		</div>

		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.wrongCode"></i></code></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<button class="btn btn-primary">Hint</button>
		</div>
	</div> <!-- Row Close -->

	<!-- Progress Bar -->
	<div class="row text-center">
		A Progress Bar Will Go Here
	</div>

	<!-- Pagination -->
	<div class="row text-center">
		Pagination Here
	</div>


	<div class="row text-center">	
		<a href="javascript:void(0);"><button>Previous</button></a>
		<a href="/codes2"><button>Next</button></a>
	</div>

</div> <!-- Container Close -->
