<div class="container" ng-hide="codes.codeContainer">
	<div class="row text-center">
		
		<!-- Displaying Alert When Right Answer-->
		<div class="alert alert-success alert-dismissable" ng-hide="codes.successAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon successful">
	        <span class="glyphicon glyphicon-ok-sign"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>Success!</h4>
	        Good Work! Feel free to move along to the next question!
	      </div>
	    </div>
	  </div>

	  <!-- Displaying Alert When Wrong Answer-->
	  <div class="alert alert-danger alert-dismissable" ng-hide="codes.dangerAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon dangerous">
	        <span class="glyphicon glyphicon-warning-sign"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>Uh Oh!</h4>
	        Unfortunately, its the other choice.  Be sure to use the hint!
	      </div>
	    </div>
	  </div>

	  <!-- Displaying Alert When Right Answer AT the last question FOR Beginner-->
	  <div class="alert alert-info alert-dismissable" ng-hide="codes.beginnerSuccessAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon info">
	        <span class="glyphicon glyphicon-star"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>All Right!</h4>
	        You've successfully finished the Beginner Track!  Wasn't that fun?  When are you ready, lets try Intermediate <a href="/intermediates"><strong>HERE</strong></a>
	      </div>
	    </div>
	  </div>

	   <!-- Displaying Alert When Right Answer AT the last question FOR Intermediate-->
	  <div class="alert alert-info alert-dismissable" ng-hide="codes.intermediateSuccessAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon info">
	        <span class="glyphicon glyphicon-star"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>WOW!</h4>
	        You are pretty good! Intermediate Level ... checked!  Stay tuned for more coding problems to solve.
	      </div>
	    </div>
	  </div>
	</div>
		


	<div class="row text-center">
		<h4>{{codes.title}}</h4>
		<hr>
		<h3>{{codes.question}}</h3>
	</div>

	<div class="row">
		<div class="col-md-10">
			<progressbar value="codes.progressBar" id="progressBar"></progressbar>
		</div>
		<div class="col-md-2" id="totalQuestionNumber">
			<div id="questionCircle">
				<h5 class="text-center" id="questionNumber">{{codes.currentPage}}/{{codes.totalPages}}</h5>
			</div>
				<p id="classLevel">{{codes.level}}</p>
		</div>
	</div>
	
	<!-- Code Questions -->
	<div class="row" ng-hide="codes.codeQuestionsSet1">
		<div class="col-md-6">
			<pre id="correctCode" ng-click="codes.correctCodeClick()" class="code"><i ng-bind-html="codes.correctCode"></i></pre>
		</div>

		<div class="col-md-6">
			<pre id="wrongCode" ng-click="codes.wrongCodeClick()" class="code"><i ng-bind-html="codes.wrongCode"></i></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row" ng-hide="codes.codeQuestionsSet2">
		<div class="col-md-6">
			<pre id="wrongCode" ng-click="codes.wrongCodeClick()" class="code"><i ng-bind-html="codes.wrongCode"></i></pre>
		</div>

		<div class="col-md-6">
			<pre id="correctCode" ng-click="codes.correctCodeClick()" class="code"><i ng-bind-html="codes.correctCode"></i></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<!-- Will show hint when Hint is pressed -->
	    <button id="hintButton" popover-placement="top" popover="{{codes.hint}}" class="btn btn-default text-center">Hint</button>
		</div>
	</div> <!-- Row Close -->

	<!-- Pagination -->
	<div class="row text-center">
		<pagination total-items="codes.totalItems" ng-model="codes.currentPage" ng-change="codes.pageChanged()"></pagination>
	</div>

	<hr>
	<div class="footer">
    <p>&copy; errorByte 2014</p>
  </div>

</div> <!-- Container Close -->


<div class="container" ng-hide="codes.beginnerCodesModal">  <!-- BEGINNER Modal Only Container -->

	<div class="modal-dialog">
		 <div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-star"></i>  Welcome to the Beginner Track!  <i class="fa fa-star"></i></h4>
		  </div>
		  <div class="modal-body">
		    <p class="text-center">New to coding or have some experience?  Learn the errors of coding by mastering ErrorByte's Beginner Track!</p>
		    <p>Directions:</p>
		    <ul>
		    	<li>Read the Question</li>
		    	<li>Click on the Answer  <i class="fa fa-code"></i></li>
		    	<li>Use the Hint if Needed</li>
		    </ul>
		    <br>
		    <p class="text-center">Click the Right Arrow when you are ready!</p>
		  </div>
		  <div class="modal-footer">
		  	<p id="beginnerModalFooter">Don't Forget to check out the Intermediate Track!</p>
		    <button type="button" class="btn btn-default" ng-click="codes.loadCodeModal()"><i class="fa fa-arrow-right"></i></button>
		  </div>
		</div>
	</div>

</div>  <!-- Modal Only Container Close -->



<div class="container" ng-hide="codes.interCodesModal">  <!-- INTERMEDIATE Modal Only Container -->

	<div class="modal-dialog">
		 <div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-star"></i>  THE Intermediate Track!  <i class="fa fa-star"></i></h4>
		  </div>
		  <div class="modal-body">
		  	<p class="text-center">Wow! Looks like you are ready for the Intermediate Track!</p>
		    <p>Directions:</p>
		    <ul>
		    	<li>Read the Question</li>
		    	<li>Click on the Answer  <i class="fa fa-code"></i></li></li>
		    	<li>Use the Hint if Needed</li>
		    </ul>
		    <br>
		    <p class="text-center">Click the Right Arrow when you are ready!</p>
		  </div>
		  <div class="modal-footer">
		  	<p id="beginnerModalFooter">Challenge Your Friends! <br> And Google what you don't know!</p>
		    <button type="button" class="btn btn-default" ng-click="codes.loadCodeModal()"><i class="fa fa-arrow-right"></i></button>
		  </div>
		</div>
	</div>

</div>  <!-- Modal Only Container Close -->
