
<div class="container">
	<div class="row text-center">
		<h2>{{codes.question}}</h2>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.correctCode"></i></code></pre>
		</div>

		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.wrongCode"></i></code></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<button class="btn btn-primary">Hint</button>
		</div>
	</div> <!-- Row Close -->

	<!-- Progress Bar -->
	<div class="row text-center">
		A Progress Bar Will Go Here
	</div>

	<!-- Level -->
	<div class="row text-center">
		Level: {{codes.level}}
	</div>

	<!-- Pagination -->
	<div class="row text-center">
		Pagination Here
	</div>


	<div class="row text-center">	
		<button ng-click="codes.previous()">Previous</button>
		<button ng-click="codes.next()">Next</button>
	</div>

</div> <!-- Container Close -->
