
<div class="container">
	<div class="row text-center">

			
			<h2>Error</h2>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div hljs>
var time = 5; 
if (time < 20) { 
  console.log('Good day'); 
}			</div>
		</div>
		
		<div class="col-md-6">
			<div hljs>
			
			</div>
		</div>
	</div> <!-- Row Close -->


</div> <!-- Container Close -->


<pre>
<code>
<i ng-bind-html="codes.correctCode"></i>
</code>
</pre>
