
<div class="container">
	<div class="row text-center">
		<h5>Success or fail pop up goes here</h5>
		<h2>{{codes.question}}</h2>
		<progressbar value="codes.progressBar" id="progressBar"></progressbar>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<pre id="correctCode" ng-click="codes.correctCodeClick()"><code><i ng-bind-html="codes.correctCode"></i></code></pre>
		</div>

		<div class="col-md-6">
			<pre id="wrongCode" ng-click="codes.wrongCodeClick()"><code><i ng-bind-html="codes.wrongCode"></i></code></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<!-- Will show hint when Hint is pressed -->
	    <button popover-placement="top" popover="{{codes.hint}}" class="btn btn-success text-center">Hint</button>
		</div>
	</div> <!-- Row Close -->

	<!-- Level -->
	<div class="row text-center">
		Level: {{codes.level}}
	</div>

	<!-- Pagination -->
	<div class="row text-center">
		<h5>Question: {{codes.currentPage}}/{{codes.totalPages}}</h5>
		<pagination total-items="codes.totalItems" ng-model="codes.currentPage" ng-change="codes.pageChanged()"></pagination>
	</div>
	

	<hr>
	<div class="footer">
    <p>&copy; errorByte 2014</p>
  </div>

</div> <!-- Container Close -->
