
<div class="container">
	<div class="row text-center">
		<h2>Success or fail pop up goes here</h2>
		<h2>{{codes.question}}</h2>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.correctCode"></i></code></pre>
		</div>

		<div class="col-md-6">
			<pre><code><i ng-bind-html="codes.wrongCode"></i></code></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<button class="btn btn-primary">Hint</button>
			<!-- Will show hint when Hint is pressed -->
			<h5>{{codes.hint}}</h5>
		</div>
	</div> <!-- Row Close -->

	<!-- Progress Bar -->
	<div class="row text-center">
		A Progress Bar Will Go Here
	</div>

	<!-- Level -->
	<div class="row text-center">
		Level: {{codes.level}}
	</div>

	<!-- Pagination -->
	<div class="row text-center">
		<h5>Question: {{codes.beginnerCounter+1}}/{{codes.totalPages}}</h5>
		<pagination total-items="codes.totalItems" ng-model="codes.currentPage" ng-change="codes.pageChanged()"></pagination>
	</div>

</div> <!-- Container Close -->
