<div class="container">
	<div class="row text-center">
		
		<!-- Displaying Alert When Right Answer-->
		<div class="alert alert-success alert-dismissable" ng-hide="codes.successAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon successful">
	        <span class="glyphicon glyphicon-ok-sign"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>Success!</h4>
	        Good Work! Feel free to move along to the next question!
	      </div>
	    </div>
	  </div>

	  <!-- Displaying Alert When Wrong Answer-->
	  <div class="alert alert-danger alert-dismissable" ng-hide="codes.dangerAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon dangerous">
	        <span class="glyphicon glyphicon-warning-sign"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>Uh Oh!</h4>
	        Unfortunately, its the other choice.  Be sure to use the hint!
	      </div>
	    </div>
	  </div>

	  <!-- Displaying Alert When Right Answer AT the last question FOR Beginner-->
	  <div class="alert alert-info alert-dismissable" ng-hide="codes.beginnerSuccessAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon info">
	        <span class="glyphicon glyphicon-star"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>All Right!</h4>
	        You've successfully finished the Beginner Track!  Wasn't that fun?  When are you ready, lets try Intermediate <a href="/intermediates"><strong>HERE</strong></a>
	      </div>
	    </div>
	  </div>

	   <!-- Displaying Alert When Right Answer AT the last question FOR Intermediate-->
	  <div class="alert alert-info alert-dismissable" ng-hide="codes.intermediateSuccessAlert">
	    <div class="alertwrapper clearfix">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <div class="alerticon info">
	        <span class="glyphicon glyphicon-star"></span>
	      </div>
	      <div class="alertcontent">
	        <h4>WOW!</h4>
	        You are pretty good! Intermediate Level ... checked!  Stay tuned for more coding problems to solve.
	      </div>
	    </div>
	  </div>
		
		<h4>{{codes.title}}</h4>
		<h3>{{codes.question}}</h3>
		<progressbar value="codes.progressBar" id="progressBar"></progressbar>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<pre id="correctCode" ng-click="codes.correctCodeClick()" class="code"><i ng-bind-html="codes.correctCode"></i></pre>
		</div>

		<div class="col-md-6">
			<pre id="wrongCode" ng-click="codes.wrongCodeClick()" class="code"><i ng-bind-html="codes.wrongCode"></i></pre>
		</div>
	</div> <!-- Row Close -->

	<div class="row">
		<div class="text-center">
			<!-- Will show hint when Hint is pressed -->
	    <button popover-placement="top" popover="{{codes.hint}}" class="btn btn-success text-center">Hint</button>
		</div>
	</div> <!-- Row Close -->

	<!-- Level -->
	<div class="row text-center">
		Level: {{codes.level}}
	</div>

	<!-- Pagination -->
	<div class="row text-center">
		<h5>Question: {{codes.currentPage}}/{{codes.totalPages}}</h5>
		<pagination total-items="codes.totalItems" ng-model="codes.currentPage" ng-change="codes.pageChanged()"></pagination>
	</div>

	<hr>
	<div class="footer">
    <p>&copy; errorByte 2014</p>
  </div>

</div> <!-- Container Close -->
