<a href="/">Home</a><br>
Test to see if angular works: {{1+2}}<br>
The controller is codes
<div hljs>
var foo = function(answer){
	console.log(answer)
}
<!-- <h1 class="text-center">Where the code goes</h1>
if (time < 20) {
	
}
<br />console.log('Good day');<br> -->
</div>

<i ng-bind-html="codes.correctCode"></i>


