Test to see if Angular is Working: {{1+2}}

<h1>This is where I create a new User</h1>

<form action="createUser(user)">
	<input type="text" placeholder="user.username">
	<input type="password" placeholder="user.password">
</form>