<div class="container">

	<div class="row">
		<div class="wrap">
			Welcome
			<form ng-submit="users.addUser(newUser)">
				<input type="text" id="username" placeholder="E-mail" ng-model="newUser.username" autofocus required>
				<button class='createUser'>Join</button>
			</form>
		</div>
	</div> <!-- row close -->

	<div class="row text-center">
		<br>Join Our Mailing List for Future Updates!
	</div>

	<hr>
	<div class="footer">
    <p>&copy; errorByte 2014</p>
  </div>

</div>



