<p>Test to see if Angular is Working: {{1+2}}</p>

<a href="/">Home</a><br>
Already have an account? <a href="login">Log In</a>
<h1>This is where I create a new User</h1>

<form ng-submit="users.addUser(newUser)">
	<input type="text" placeholder="Username" ng-model="newUser.username" autofocus required>
	<input type="password" placeholder="Password" ng-model="newUser.password" required>
	<button>Create</button>
</form>

{{users.greeting}}