<div class="container">
	<div class="row">

		<div class="wrap">
			Sign Up
			<form ng-submit="users.addUser(newUser)">
				<input type="text" id="username" placeholder="Username" ng-model="newUser.username" autofocus required>
				<input type="password" id="password" placeholder="Password" ng-model="newUser.password" required>
				<button class='createUser'>Join</button>
			</form>
		</div>
	</div>

	<div class="row text-center">

		<br>Already have an account? <a href="login">Log In</a>

	</div>
</div>



