<div class="container">

	<div class="row text-center">
		<h1>{{users.user.username}}</h1>
		<!-- {{users.user}} -->
		<!-- User: {{users.user}}<br>
		Code: {{users.code}} -->
		COMPLETE: {{users.complete}}

	</div> <!-- Row Close -->

	<div class="row text-center">
		<div class="col-md-6">
			Beginner			
		</div>

		<div class="col-md-6">
			Intermediate
		</div>		
	</div> <!-- Row Close -->
	
</div> <!-- Container Close -->