<div class="homebackground">
	<div class="container">
		<div class="row">
			<div class="col-xs-6" id="tagline">
				<h1>Learn to Code <br>by Learning Errors.</h1>
				<a href="/codes"><button id="tryButton">Let's Play</button></a>
			</div>

			<div class="col-xs-6">
			</div>


		</div> <!-- Row End -->
	</div> <!-- Container End -->
</div>  <!-- Background Image End -->




	
