.errorPic{
	height: 350px;
	width: 350px;
	border-radius: 20px;
	box-shadow: 3px 5px 12px rgba(0,0,0,0.4);
}

#tech{
	list-style: none;
}

.abouttitle{
	text-decoration: underline;
	font-size: 25px;
}

.aboutp{
	font-size: 15px;
}