<div class="container">
	<div class="row text-center">
		<h1>About Page</h1>
		<p>Learn by Errors</p>
			<div class="col-md-6">				
				<h3>Why build This</h3>
				<p>Lomo bicycle rights fingerstache hoodie, bespoke chia Portland. Kogi street art chia, mustache skateboard Shoreditch chillwave +1 mlkshk kitsch actually Helvetica Pitchfork fashion axe. YOLO keffiyeh meh semiotics, jean shorts master cleanse Kickstarter keytar farm-to-table. Quinoa food truck fingerstache direct trade roof party. Carles you probably haven't heard of them Portland.</p>
				<h3>What I want to accomplish with this</h3>
				<p>Irony High Life church-key, flexitarian semiotics narwhal Wes Anderson fanny pack whatever Odd Future Pitchfork readymade cred disrupt. YOLO meggings butcher, Neutra trust fund vinyl selvage leggings normcore you probably haven't heard of them dreamcatcher ennui seitan.</p>
			</div>

			<div class="col-md-6">
				<h3>Techologies Used:</h3>
				<ul>
					<li>Ruby on Rails</li>
					<li>AngularJS</li>
				</ul>
				<h3>Picture Here</h3>	
			</div>




	</div> <!-- Row Close -->

	<hr>
	<div class="footer">
    <p>&copy; errorByte 2014</p>
  </div>

</div> <!-- Container Close -->

