<!DOCTYPE html>
<html>
<head>
  <title>ErrorByte</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
 <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">

<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
</head>
<body ng-app="CodesApp">
	<div ng-view>
	</div>




</body>
</html>
